.container {
  max-width: 1080px;
  margin: auto;
}

.u-d-flex {
  display: flex;
}

.u-flex-column {
  flex-direction: column;
}

.u-align-center {
  align-items: center;
}

.u-justify-center {
  justify-content: center;
}

.u-space-between {
  justify-content: space-between;
}
