.post {
  color: #ffffff;
  background-color: #565656;
  border-radius: 10px;
  border: 2px solid #ff6600;
  padding: 10px;

  &__link {
    color: #f74054;
  }

  &__wrap {
    margin: 20px;
  }

  &__title,
  &__body {
    &::first-letter {
      text-transform: uppercase;
    }
  }

  &__comment {
    margin-left: 20px;
    margin-bottom: 10px;
  }
}
